.history{
    a{
        text-decoration: none;
        color: #807d7d;
    }
    .status{
        color: rgb(255, 115, 0) !important;
    }
    .statusActive{
        color: rgb(4, 187, 14) !important;
    }
    
}