.pagination{
    padding-top: 20px;
    width: 100%;
    button{
        background-color: white;
        border: 1px solid #ccc;
        padding: 0 10px;
        border-radius: 0%;
    }
    .hide{
        display: none;
    }
    .color{
        background-color: #cb4210;
        color: white;
    }
    .active{
        @extend .color;
    }
}